* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	padding: 2rem;
	/* margin: 2rem; */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid;
}

@media (min-width: 992px) {
	.container {
		flex-direction: row;
		gap: 1rem;
	}
}

.input-item {
	/* padding: 1rem; */
	margin: 0.2rem;
}
